/*--------------------------*/
/*   Global Elements  	    */
/*--------------------------*/
* {margin: 0;padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
article, aside, details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
html {height: 100%;}
body {color: #444;font: 85%/1.40 verdana, geneva, arial, sans-serif;background: transparent url(../img/pink_flower.jpg) no-repeat fixed 0 10px;}
#resume {background-image: url(../img/purple_flower.jpg);}
#portfolio {background-image: url(../img/orange_flower.jpg);}
h1, h2, h4 {font: normal 1em/1.5 tangerine, georgia, 'palatino linotype', 'book antiqua', serif;}
header {padding-left:150px;}
header h1 {font-size: 6.0em;line-height:1;height:54px;text-align:center;padding: 0 5px;float:right;margin: 20px 0 0;position:relative;z-index:10;}
header h1 a {color: #444;}
nav {overflow:hidden;clear:right;}
header h2 {float:right;clear:right;margin-top:40px;width: 168px;}
h2 {font-size: 2.5rem;line-height:1;}
h3 {font-size:0.9em;margin: 7px 0;font-weight:normal;}
h4 {font-weight:bold;font-size:2.5em;}
section {width:100%;clear:left;position:relative;z-index:10;}
section h1 {font-weight:bold;font-size:2.5em;line-height:.8;margin:30px 0 10px;}
figure {margin-right:20px;}
figure img {border:1px solid #666;}
aside {background: rgba(255, 255, 255, 0.6);padding:0 10px 10px;}
aside ul {margin-bottom:20px;}
img {border: 0;}
p {margin: 10px 0;}
a {text-decoration: none;}
a {color: #262626;text-decoration:none;}
p a {text-decoration: underline;}
a:hover {color:#8e0136;}
a:hover img {border-color:#aaa;}
ul, ol {padding: 0 0 0 40px;}
input {margin: 2px 0 5px 0;padding: 3px 0;}
dl {margin: 0;padding-top: 10px;}
dt {font-weight: bold;float: left; clear: left; width: 8em; xtext-align: right;}
dd { margin: 0 0 0 90px; padding: 0 0 0.5em 0; height: 1em;}
/*--------------------------*/
/* Global Classes           */
/*--------------------------*/
.simpleList {list-style: none;padding: 20px 20px 20px 0;	}
.floatLeft {float: left;}
.floatLeftPad {float: left;margin: 20px 0 0 15px;}
.floatRight {float:right;}
.floatClear {clear: both;}
.clearRight {clear: right;}
.clearLeft {clear: left;}
.border {border: 1px solid #fff;padding: 20px;}
.imgRight {float: right;margin-left: 15px;}
.imgLeft {float: left;margin-right: 15px;}
/*--------------------------*/
/* page classes             */
/*--------------------------*/
.bodyWrapper {width:100%;max-width:1200px;xbackground: transparent url(../img/pink_flower.jpg) no-repeat fixed 0 10px;padding:0 20px 40px 0;margin-bottom:40px;}
.pageWrapper {margin-left:10%;}
.header {overflow: hidden;}
* html .header {height: 100%;}
.contentWrapper {margin-top:20px;}
#resume .contentWrapper, #index .contentWrapper {;margin-left:10%;padding:10px 10px 30px;position:relative;z-index:10;
background:rgba(255, 255, 255, 0.6);
-webkit-box-shadow: -10px -10px 30px 10px rgba(256, 256, 256, .6);
box-shadow: -10px -10px 30px 10px rgba(256, 256, 256, .6);}
.site {position: relative;float:left;height: 240px;width: 184px;margin-right: 20px;}
.site a {color: #262626;text-decoration:none;}
.site img {border: 1px solid #666;}
.site h4 {display: none;max-width: 300px;background-color:#fff;border: 1px solid #000;position: absolute;top: 50px;left: 10px;font-family:  arial, geneva, verdana, sans-serif;font-weight:normal;font-size:1em;}
.site h4 a {padding: 10px;display:block;}
.site:hover h4 {display: block;}
.wide {width:90%;clear:both;height: auto;margin-bottom: 30px;}
.wide h3, .superwide h3 {font-size:1.4em;}
/*--------------------------*/
/* navigation               */
/*--------------------------*/
nav ul {clear: both;list-style: none;padding: 15px 0 0 0;border-top: 1px solid #d9dcd5;width:70%;float:right;}
nav ul li {float: left;}
nav ul li a{display: block;font-weight: bold;color: #97a195;padding: 0 40px 0 0;}
nav ul li:last-child a {padding-right:0;}
nav ul li a:hover{color: #262626;}
#index #indexLink a, #resume #resumeLink a, #portfolio #portfolioLink a {color: #262626;}
/*--------------------------*/
/* other                    */
/*--------------------------*/
* html .who h1 {width: 230px;}
* html .who h2 {width: 180px;}
.ss {font-size: 0.7em;vertical-align:top;}
.top {vertical-align:top;}
.small {font-size: 0.8em;}
.cover h4 {margin-bottom: 5px;}
.cover ol, .cover ul {padding-top: 0;}
.company {font-weight:bold;margin: 0;}
.date {margin: 0 0 5px 0;}
.title {font-size:1.3em;margin: 15px 0 0 0;}
.product {margin: 0;}
tools, .job 	{margin: 5px 0 0 0;}
.edu h2 {margin-top: 20px;color: #222;}
.edu ul {list-style: none;padding: 10px 0 0 0;}
.mylist li {margin-bottom: 10px;}
.mylist li p {margin: 0;font-size: 0.8em;}
a.ul {text-decoration: underline;}
ul.homeList {list-style:none;font-size: 1.3em;margin-left:75px;}
ul.homeList li {margin-bottom: 10px;}
.superwide {width:80%;height:auto;}
.superwide p {clear:both;}
.sl a.ul {margin-right: 15px;}
.fa {font-size:0.8em;margin-top:70px;}
.fa p {margin-top:0;}
ul.contact {list-style:none;float:right;text-align:right;}
.wide.left img {float:left;margin:0 30px 0 0;}
.latest {float:left;width:400px;}
.latest ul {padding-top:0;}
.site a:hover img {border:1px solid #000;}
.site a:hover {text-decoration:underline;}
.portfolio h2 {font-size:3.5rem;}


.project {margin-bottom:30px;}
.project h3 {margin-top:0;}
.project figure {float:left;}
.detailed {overflow:hidden;font-size:.9em;}
.detailed h3, .cssmysite h3, .ss h3 {font-size:1.4em;}
.project.quick {float:left;overflow:visible;}
.project aside p {margin-top:0;}

xxsection {clear:both;}
aside {float:left;width:40%;}
figure {position:relative;}
figcaption{position:absolute;background-color:#fff;border:1px solid #666;top:10px;left:5px;display:none;min-width:170px;-moz-box-shadow: 5px 5px 5px #666;-webkit-box-shadow: 5px 5px 5px #666;box-shadow: 5px 5px 5px #666;-xxmoz-border-radius:5px;xxborder-radius: 5px;}
figcaption {padding:10px;}
figure:hover figcaption {display:block;}
figcaption a:hover {text-decoration:none;}
.ss {font-size:1.1em; float:left;}
.ss p {clear:left;}
.flower {}
.flower img {display:none;position:fixed;left:0;top:10px;}
.flower img:first-child {display:block;}

.cssmysite figure, .ss figure {margin-right:0;}

.op {display:none;}
#resume .or {display:block;}
#portfolio .op {display:block;}
.res_addr, .res_portfolio {display:none;}


@media only screen and (max-width: 900px) {
	.detailed img {vertical-align:bottom;}
	aside {background: rgba(255, 255, 255, 0.8);width:90%;padding-top:10px;}
}
@media only screen and (max-width: 630px) {
	header h1 {font-size:14vw;}
	header h2 {margin-top:5vw;}
	nav ul {margin-top:20px;padding-top:0;}
	nav ul li {float:none;text-align:right;border-bottom:1px solid #d9dcd5;}
	nav ul li a {display:block;padding: 10px 20px 10px 0;}
	nav ul li:last-child a {padding-right:20px;}
	.contentWrapper {margin:20px 0 0;}
	#resume .contentWrapper, #index .contentWrapper {
		margin-left:0;
		background:rgba(255, 255, 255, 0.8);
		-webkit-box-shadow: -10px -10px 30px 10px rgba(256, 256, 256, .8);
		box-shadow: -10px -10px 30px 10px rgba(256, 256, 256, .8);
	}
	.detailed img {width:100%;max-width:452px;height:auto;}

}
@media only screen and (max-width: 500px) {
	header {padding-left:0;}
	body {background-size:200px 210px;}
	xxbody::after {
  content: "";
	background: transparent url(../img/pink_flower.jpg) no-repeat fixed 0 10px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

}
