/*--------------------------*/
/*   Global Elements  	    */
/*--------------------------*/
#resume {background-image:none;}
header, nav {display:none;}
h2 {font-size:1.4em;font-family:arial, sans-serif;margin-top:10px;}
.title {font-size:1.2em;}
#resume .contentWrapper, .pageWrapper {margin:0;}
#resume .contentWrapper {background:transparent;box-shadow:none;}
ul.contact {float:none;text-align:left;padding:10px 0 20px 0;}
.res_name {font-size:1.3em;font-weight:bold;margin-bottom:10px;}
.res_addr, .res_portfolio {display:block;}
.res_portfolio {margin-top:10px;}
.product {display:none;}

